NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvbnNlbnRpcS1yZmkiLCJyb2xlIjoiYW5vbiIsImlhdCI6MTcyODQ2NDA2MCwiZXhwIjoxNzQ0MDE2MDYwfQ.T1P7E_LkxRpx_E9OW5YuBsVsLx_hUOh-A6iC03kJWJo
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
